/*Selec City*/
.overlay{
    background:transparent url(../img/mainBG.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:9999;
}

.box{
	position: absolute;
	top:10px;
	min-width: 300px;
	margin: auto;
	display: block;
	width: 50%;
	left:30%;
	margin-left: -50px;
	background-color:#fafafa;
	border:1px solid #b3b3b3;
	border-radius: 6px;
	box-shadow: 0 1px 5px rgba(0,0,0,1);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,1);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,1);
	z-index:10;
	text-align: center;
	padding: 0;
}

h3#title-list{
	font-size: 24px;
	font-weight: 300;
	color:#fff;
	margin: 0;
	padding: 0;
	text-shadow: 0 1px rgba(0,0,0,.5);
	background-color:#999;
	border-bottom: 1px solid #b3b3b3;
	border-radius: 3px 3px 0 0;
}

ul.city-tabs{
	list-style: none;
	margin: 0;
	padding: 0;
}

.city-tabs li{
	display: block;
	padding: 10px;
	border-bottom: 1px solid #b3b3b3;
	box-shadow: inset 0 1px #fff;
}

.city-tabs li:hover{
	background-color: #FF6666;
}

.city-tabs h2{
	margin: 0;
	font-weight: 300;
	font-size: 16px;
	padding: 0;
}

.city-tabs li a{
	text-decoration: none;
	color: #333;
	display: block;
	text-shadow: 0 1px 0 #fff;
}

.city-tabs li a:hover{
	color: #fff;
		text-shadow: none;
}
