{% load jstemplate %}
<!doctype html>
<html class="no-js" lang="es">
<head>
	<meta charset="utf-8">
	{% if city.mx_city != -1 %}
	<title>Garita {{city.mx_city}} | Revisa aqui el tiempo de garitas ya!</title>
	{% else %}
	<title>Garitas Mexico | USA Revisa aqui el tiempo de garitas ya!</title>
	{% endif %}
	<meta name="description" content="Reporte del tiempo de espera de Garita {{ city.mx_city }} y todas las garitas Mexico | USA al instante">
		<!-- Facebook -->
	<meta property="og:title" content="garitas.co"/>
	<meta property="og:type" content="company"/>
	<meta property="og:url" content="http://garitas.co/"/>
	<meta property="og:image" content="/static/garitas/img/garitas-fb.jpg"/>
	<meta property="og:site_name" content="garitas"/>
	<meta property="fb:admins" content="huleos"/>
	<meta property="og:description" content="Reporte del tiempo de espera de las garitas fronterizas Mexico - USA, desde Tijuana hasta Matamoros"/>
	<meta name='border-model' content="/api/borders/{{city_id}}/" />
	<!-- /Facebook -->

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="canonical" href="http://garitas.co" />
	<link rel="shortcut icon" href="/static/garitas/favicon.ico">
	<link rel="stylesheet" href="/static/garitas/css/style.css">
	<link rel="stylesheet" href="/static/garitas/css/cities_list.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <script src="/static/garitas/js/jquery.min.js"></script>
    <script src="/static/garitas/js/jquery.form.js"></script>
	<script src="/static/garitas/js/jquery.validate.js"></script>
	<script src="/static/garitas/js/underscore-min.js"></script>
	<script src="/static/garitas/js/backbone-min.js"></script>
	<script src="/static/garitas/js/mustache.js"></script>
	<script src="/static/garitas/js/django.mustache.js"></script>
	<script src="/static/garitas/js/garitas_script.js"></script>
	<script src="/static/garitas/js/script.js"></script>
	<script type="text/javascript">
		window.___gcfg = {lang: 'es-419'};
		(function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();

        // (Optional) Do this if you are using csrf protection:
        // See: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/
        var oldSync = Backbone.sync;
        Backbone.sync = function(method, model, options) {
            options.beforeSend = function(xhr){
                xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            };
            return oldSync(method, model, options);
        };
    </script>
	{% mustachejs "border" %}
</head>
<body>
	<header id="header">
		<div id="header-wrap">
			<h1 id="logo">
				<a href="http://garitas.co/">Garitas.co | Reporte del tiempo de espera de garita fronteriza {{city.mx_city}}</a>
			</h1>
			<h3 id="change-city"><a class="button-red bg-overlay" onclick="selectCity();">Selecciona tu Ciudad</a></h3>
		</div>
	</header>
	<div id="wrap">
		<!-- wrap-top -->
		<h2 id="city">{{city.mx_city}}</h2>
			<ul id="social-media">
				<!-- Facebook -->
				<li id="fb-button">
			<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/garitasmexico&amp;send=true&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=44" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150x; height:44px;" allowTransparency="true"></iframe>
			</li>
				<!-- Twitter -->
				<li id="twitter-button">
					<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://garitas.co" data-text="garita.co - Conoce el tiempo de garitas en Mexico" data-count="horizontal" data-via="686studio">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				</li>
				<!-- g+ -->
				<div id="g-button">
					<g:plusone size="medium" href="http://garitas.co/"></g:plusone>
				</div>
			</ul>
		<!-- /wrap-top -->
		<div id="border-ports">
			<p style="width:640px;height:200px;"><p>
			<img src="/static/garitas/img/ajax-loader.gif" width="300" height="20" alt="garitas-load"> Cargando...
		</div>
		<aside class="adds">
            <div class="ad300">
    			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="300" height="250">
                    <param name="movie" value="/static/garitas/flash/banner1.swf" />
                    <param name="quality" value="high" />
                    <embed src="/static/garitas/flash/banner1.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="300" height="250"></embed>
                </object>
            </div>
			<div class="divider-space"></div>
			<div class="ad300">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-0248888696672038";
				/* garitas.co II */
				google_ad_slot = "2079355718";
				google_ad_width = 300;
				google_ad_height = 250;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
			<div class="ad728">
			<script type="text/javascript"><!--
				google_ad_client = "ca-pub-0248888696672038";
				/* garitas 728 */
				google_ad_slot = "5093914893";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
			</script>
			<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
		<div class="ad320">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-0248888696672038";
		/* Garitas Movil */
		google_ad_slot = "2340079281";
		google_ad_width = 320;
		google_ad_height = 50;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		</div>
			<p id="service">Made in <a href="http://686studio.com"><strong>686studio.com</strong></a> &copy; 2013 Garitas.co </p>
		</aside>
		<div class="box" id="box_popup">
			<!-- <a class="boxclose" id="boxclose_popup"></a> -->
			<h3 id="title-list" class="bg-overlay">Selecciona tu Ciudad <img class="btn-closed" src="/static/garitas/img/close.png" alt="close box" onclick="closeSelectCity();"></h3>
			<ul class="city-tabs" id="city-tabs">
				{% for city in cities %}
					<li class="bg-overlay">
						<h2><a href="/{{city.alias}}" onclick="">{{city.city}} - {{city.state}}</a></h2>
					</li>
				{% endfor %}
			</ul>
		</div>

    <!-- Feedback -->
	<div class="feedback" id="box_popup">
      <a href="#!" onclick="closeFeedback();">
        <img class="btn-closed" src="/static/garitas/img/close.png" alt="close box">
      </a>
      <h2>Contáctanos</h2>
        <img class="feedback-loading" src="/static/garitas/img/loading-gif.gif" al="loading">
		<form action="/send_email/" method="post" id="contact_form"> {% csrf_token %}
        <!-- Name -->
        <p>
          <label>Nombre</label><input type="text" name="name" minlength="2" class="required">
        </p>
        <!-- Email -->
        <p>
          <label>Email</label><input type="text" name="email" class="required email">
        </p>
        <!-- Where -->
        <p>
          <label>Teléfono</label><input type="text" name="tel" minlength="2">
        </p>
        <!-- subject -->
        <p>
          <label>Asunto</label>
          <select name="subject" size="1">
            <option value="" selected="selected"> -- </option>
            <option value="Feedback">Feedback</option>
            <option value="Publicarme">Publicarme</option>
            <option value="Saludar">Saludar</option>
          </select>
        </p>
        <!-- Message -->
        <p>
         <label>Mensaje</label>
         <textarea name="message" minlength="10" class="required"></textarea>
        </p>
        <button type="submit" class="button-send">Send Mail</button>
      </form>
    </div>
    <!-- /Feedback -->
	</div>
      <!-- button feedback -->
    <div id="feedback-tab">
      <a href="#!" onclick="feedback();">Feedback</a>
    </div>
    <!-- /button feedback -->
  <footer>
  </footer>
  <!-- Google Anaytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33383897-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $('#box_popup').hide();
  $('.feedback').hide();

</script>
</body>
</html>